# Welcome to Lab Session 1 - Derek Thomas - 23Sep2017 - Revision 1

## Define the environment for the Dataframe

In [1]:
import pandas as pd

## Import the Dataframe and parse relevant columns

In [10]:
df = pd.read_excel('Information is Beautiful_ Data Breaches (public).xlsx', header=1, sheetname='2017 update',parse_cols=('A:G,I:J,O'))

In [11]:
df.head(4)

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY,1st source link
0,NaN,NaN,Elaboration if there's an interesting story or...,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...,NaN
1,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,92000000,1,http://money.cnn.com/2004/06/23/technology/aol...
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,130000,20,http://abcnews.go.com/Technology/story?id=2160...
3,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,200000,20,http://www.nbcnews.com/id/7561268/

## Delete irrelevant narrartive row

In [43]:
df2 = df.drop(df.index[0])

## Analyze data contents and characteristics

In [44]:
df2.shape

(253, 10)

In [45]:
df2.describe()

,entity,altName,story,yearIndex,recordsLost,orgType,leakMethod,recordsStolen,dataSensitivity,sourceLink
count,253,118,217,253,251,253,253,253,253,253
unique,241,117,215,15,177,23,6,132,8,213
top,Yahoo,American Online,Wikileaks,7,4000000,web,hacked,500000,20,http://www.idtheftcenter.org/artman2/publish/l...
freq,3,2,3,35,6,70,155,11,85,31

In [46]:
df2.dtypes

entity             object
altName            object
story              object
yearIndex          object
recordsLost        object
orgType            object
leakMethod         object
recordsStolen      object
dataSensitivity    object
sourceLink         object
dtype: object

## Modify column names

In [47]:
df2.columns=['entity',\
            'altName',\
            'story',\
            'yearIndex',\
            'recordsLost',\
            'orgType',\
            'leakMethod',\
            'recordsStolen',\
            'dataSensitivity',\
            'sourceLink']

In [48]:
df2.dtypes

entity             object
altName            object
story              object
yearIndex          object
recordsLost        object
orgType            object
leakMethod         object
recordsStolen      object
dataSensitivity    object
sourceLink         object
dtype: object

In [49]:
df2.head(4)

,entity,altName,story,yearIndex,recordsLost,orgType,leakMethod,recordsStolen,dataSensitivity,sourceLink
1,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,92000000,1,http://money.cnn.com/2004/06/23/technology/aol...
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,130000,20,http://abcnews.go.com/Technology/story?id=2160...
3,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,200000,20,http://www.nbcnews.com/id/7561268/
4,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,1,3900000,financial,lost / stolen device,3900000,300,http://www.nytimes.com/2005/06/07/business/07d...

## Insert formatted Year column

In [57]:
def ConvertYear(x):
    if (x != '14'):
        return str((int(x) + 2004))
    else:
        return ('2017')
df3 = df2.copy()
df3['yearOfBreach'] = df2.yearIndex.apply(ConvertYear)
df3.dtypes

entity             object
altName            object
story              object
yearIndex          object
recordsLost        object
orgType            object
leakMethod         object
recordsStolen      object
dataSensitivity    object
sourceLink         object
yearOfBreach       object
dtype: object

In [58]:
df3.head(4)

,entity,altName,story,yearIndex,recordsLost,orgType,leakMethod,recordsStolen,dataSensitivity,sourceLink,yearOfBreach
1,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,92000000,1,http://money.cnn.com/2004/06/23/technology/aol...,2004
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,130000,20,http://abcnews.go.com/Technology/story?id=2160...,2005
3,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,200000,20,http://www.nbcnews.com/id/7561268/,2005
4,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,1,3900000,financial,lost / stolen device,3900000,300,http://www.nytimes.com/2005/06/07/business/07d...,2005

## Write Dataframe to ".csv" file for import into Tableau

In [84]:
df3.to_csv('CleanData.csv')